/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,*::before { box-sizing: inherit;}

/* Variables*/
:root {
  --bg-color-1: rgb(238, 236, 167);
  --bg-color-2: rgb(197, 232, 162);
  --bg-color-3: rgb(255, 255, 255);
  --bg-color-4: rgb(0, 0, 0);
}

/*Generales*/
h2, 
h3 {
  text-align: center;
  color: var(--bg-color-4);
  padding: 1.25rem 0.25rem;
}

.header,
.footer {
  background-color: var(--bg-color-3);
  padding: 0.5rem 0.25rem;
}

/* header*/
.header a.navbar-brand,
#navbarNav ul.navbar-nav a {
  color: var(--bg-color-4);
  text-align: center;
  text-decoration: none;
}

span.navbar-toggler-icon {
  background-color: var(--bg-color-4);
  color: var(--bg-color-4);
}

.nav-link a:hover {
  background-color: var( --bg-color-2);
  font-weight: 600;
}

/* Main */
/*Intoroduccion*/
/*Patrones*/
/*Implementando*/
#introduccion,
#patrones {
  background-color: var(--bg-color-1);
  padding: 1rem;
}

#disenio,
#implementando {
  background-color: var(--bg-color-2);
  padding: 1rem;
}

/* Footer */
.footer p {
  text-align: center;
}

.footer a {
    text-decoration: none;
    font-weight: 800;
}
